@page
@using PatrickMorin.Web.Pages.Account
@model PatrickMorin.Web.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
