﻿@page
@using PatrickMorin.Web.Pages.Account
@model PatrickMorin.Web.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>
