﻿@page
@using PatrickMorin.Web.Pages.Account
@model PatrickMorin.Web.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
