@page
@using PatrickMorin.Web.Pages.Account
@model PatrickMorin.Web.Pages.Account.SignedOutModel
@{
    ViewData["Title"] = "Signed out";
}

<h2>@ViewData["Title"]</h2>
<p>
    You have successfully signed out.
</p>
