.nav-bar {
	box-shadow: 0 14px 4px 0 rgba(218, 220, 220, 0.9);

	&__logo {
		height: 55px;
	}

	&__main {
		display: flex;
		justify-content: flex-end;
		flex-basis: 0;
	}

	&__total {
		margin-bottom: 0;
	}
}

@include breakpoint(xxs-down) {
	.nav-bar {
		&__total {
			font-size: 15px;
		}
	}
}

