.order {
	margin-bottom: 50px;

	&-items {
		width: 100%;
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 15px;
		font-family: sans-serif;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
		border-radius: 5px 5px 0 0;
		background-color: $pm-orange;

		thead tr {
			color: #ffffff;
			text-align: left;
			height: 50px;
		}

		th, td {
			padding: 12px 15px;
			text-align: center;

			&:first-of-type {
				text-align: left;
			}

			&:last-of-type {
				text-align: right;
			}
		}

		th:last-of-type {
			min-width: 105px;
		}

		tbody tr {
			border-bottom: 1px solid $table-border;
			background-color: $white;
		}

		tbody tr:nth-of-type(even) {
			background-color: $table-row;
		}

		tbody tr:last-of-type {
			border-bottom: 1px solid $pm-orange;
		}
	}

	&-item {
		display: flex;
		justify-content: space-between;
	}

	&-total {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 0 15px;

		& div {
			display: flex;
			justify-content: space-between;
			width: 40%;

			p:first-of-type {
				font-weight: 700;
			}
		}
	}

	&--success {
		color: $success-green;
		border: 1px solid $success-green;
		padding: 10px 20px;
		border-radius: 5px;
	}

	&--error {
		color: $red;
		border: 1px solid $red;
		padding: 10px 20px;
		border-radius: 5px;
	}

	&--paid {
		color: $pm-orange;
		border: 1px solid $pm-orange;
		padding: 10px 20px;
		border-radius: 5px;
	}

	&__warehouse-info {
		color: #717374;
	}
}

@include breakpoint(md-down) {
	.order {
		&-items {
			th, td {
				padding: 8px 15px;
			}

			th {
				font-size: 15px;
			}

			td {
				font-size: 14px;
			}
		}

		&-total {
			padding: 0 15px 15px 0;

			div {
				width: 100%;
			}
		}
	}
}

@include breakpoint(xs-down) {
	.order {
		&-items {
			th, td {
				padding: 10px 8px;
				font-size: 12.5px;
			}

			th:last-of-type {
				min-width: 75px;
			}
		}
	}
}

@include breakpoint(xxs-down) {
	.order {
		&-items {
			th, td {
				font-size: 11px;
			}

			th:nth-of-type(3) {
				min-width: 60px;
			}

			th:last-of-type {
				min-width: 65px;
			}
		}
	}
}
