.payment-form {
	width: 40%;

	&__two-column {
		display: flex;
		justify-content: space-between;

		.form-group {
			width: 50%;

			&:first-of-type {
				margin-right: 16px;
			}
		}
	}

	.cvn-info {
		font-size: 13px;
		padding: 0 6px;
		margin-left: 5px;
		background-color: white;
		border: 1px solid gray;
		border-radius: 10px;
		transition: 0.2s;
		width: 20px;
		height: 20px;
		display: inline-block;
		position: relative;

		.cvn-tooltip {
			visibility: hidden;
			width: 210px;
			background-color: #212529;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 5px 5px;
			position: absolute;
			z-index: 1;
			bottom: 30px;
			right: -100px;
			font-size: 12px;
			transition: 0.2s;
		}

		.arrow {
			visibility: hidden;
			background-color: #212529;
			width: 12px;
			height: 12px;
			position: absolute;
			top: -18px;
			right: 3px;
			z-index: 1;
			transform: rotate(45deg);
			transition: 0.2s;
		}

		&:hover, &:active {
			background-color: #e6e6e6;

			.cvn-tooltip, .arrow {
				visibility: visible;
			}
		}
	}

	.expiration-date {
		display: flex;
		flex-direction: column;

		&__fields {
			display: flex;
		}

		.form-group {
			margin-bottom: 0;

			&:first-of-type {
				margin-right: 1rem;
			}
		}
	}
}

@include breakpoint(lg-down) {
	.payment-form {
		width: 75%;
	}
}

@include breakpoint(md-down) {
	.payment-form {
		.cvn-info .cvn-tooltip {
			width: 200px;
		}
	}
}


@include breakpoint(sm-down) {
	.payment-form,
	.payment-form button {
		width: 100%;
	}

	.payment-form {
		.cvn-info .cvn-tooltip {
			right: -15px;
		}
	}
}

@include breakpoint(xs-down) {
	.payment-form,
	.payment-form button {
		width: 100%;
	}
}

@include breakpoint(xxs-down) {
	.payment-form,
	.payment-form button {
		width: 100%;
	}

	.payment-form {
		&__two-column .form-group:first-of-type {
			margin-right: 8px;
		}

		.cvn-info {
			margin-left: 0;
			font-size: 12.5px;
			width: 18px;
			height: 18px;
			padding: 0px 5px;

			.cvn-tooltip {
				right: -5px;
			}

			.arrow {
				top: -20px;
			}
		}
	}
}


