body {
	height: 100vh;
	padding-top: 150px;
	background-color: $body-bg;
}

h2 {
	margin-bottom: 24px;
}

button, .btn {
	background-color: #f37021;
	color: white;

	&:hover {
		background-color: #ff8b46;
		color: white;
	}
}

.container.body-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navbar-toggler {
	display: none;
}

@include breakpoint(sm-down) {
	body {
		padding-top: 135px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	.container {
		max-width: unset;
	}
}

@include breakpoint(xxs-down) {
	button {
		width: 100%;
	}
}