@page
@using PatrickMorin.Web.Pages.Account.Manage
@model PatrickMorin.Web.Pages.Account.Manage.SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = "ChangePassword";
}

<h4>Set your password</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Set password</button>
        </form>
    </div>
</div>
