@page "{id}"
@inject IViewLocalizer Localizer
@using System.Globalization
@using PatrickMorin.Application.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@model Web.Pages.RemotePayOrder.IndexModel
@{
	ViewData["Title"] = Localizer["PageTitle"];

	if (Model.ModelState.ContainsKey("Card.ExpiryMonth"))
	{
		var monthErrors = Model.ModelState["Card.ExpiryMonth"].Errors;
		var invalidMonthMessage = Localizer["InvalidMonthErrorMessage"].Value;
		if (Model.Card.ExpiryMonth == 0 && monthErrors.All(x => x.ErrorMessage != invalidMonthMessage))
		{
			Model.ModelState.Remove("Card.ExpiryMonth");
			Model.ModelState.AddModelError("Card.ExpiryMonth", invalidMonthMessage);
		}
	}

	if (Model.ModelState.ContainsKey("Card.ExpiryYear"))
	{
		var yearErrors = Model.ModelState["Card.ExpiryYear"].Errors;
		var invalidYearMessage = Localizer["InvalidYearErrorMessage"].Value;
		if (Model.Card.ExpiryYear == 0 && yearErrors.All(x => x.ErrorMessage != invalidYearMessage))
		{
			Model.ModelState.Remove("Card.ExpiryYear");
			Model.ModelState.AddModelError("Card.ExpiryYear", invalidYearMessage);
		}
	}
	var orderDate = Model.Order.Order.Header.OrderDate.ToShortDateString();
}
<div class="order">
	@if (TempData["PaymentSuccess"] != null)
	{
		if ((bool)TempData["PaymentSuccess"])
		{
			<p class="order--success">@Localizer["PaymentSuccess"]</p>
		}
		else
		{
			if (TempData["PaymentMessage"] != null && !string.IsNullOrWhiteSpace((string)TempData["PaymentMessage"]))
			{
				<p class="order--error">@TempData["PaymentMessage"]</p>
			}
			else
			{
				var isWarning = TempData["PaymentError"] == Localizer["OrderAlreadyPaid"];
				<p class="order@(isWarning ? "--paid" : "--error")">@TempData["PaymentError"]</p>
			}
		}
	}

	@if (Model.Order?.Amount?.Balance == 0 && !TempData.ContainsKey("PaymentSuccess"))
	{
		<p class="order--paid">@Localizer["OrderAlreadyPaid"]</p>
	}

	<h4>
		@Localizer["OrderSummary"]
		<span>@(Model?.Order?.Order?.Header != null ? " - " + Model.Order.Order.Header.OrderNo : "")</span>
	</h4>
	@if (Model?.Order?.Order?.Header != null)
	{
		<p class="order__warehouse-info">
			@Model.Order.Order.Header.EntrCode - @Model.Order.Order.Header.EntrName - @orderDate
		</p>
	}
	<hr />
	<table class="order-items">
		<thead>
			<tr>
				<th>@Localizer["Description"]</th>
				<th>@Localizer["Quantity"]</th>
				<th>@Localizer["UnitPrice"]</th>
				<th>@Localizer["Total"]</th>
			</tr>
		</thead>
		<tbody>
			@if (Model?.Order?.Order?.Items != null)
			{
				foreach (var item in Model.Order.Order.Items.Item)
				{
					<tr>
						<td>@item.ProductDesc</td>
						<td>@(item.Quantity.ToString(CultureInfo.InvariantCulture).EndsWith(".0") ? (int)item.Quantity : item.Quantity)</td>
						<td>@item.Price.ToPrice() $</td>
						<td>@item.Total.ToPrice() $</td>
					</tr>
				}
			}
		</tbody>
	</table>
	<div class="order-total">
		@if (Model?.Order?.Amount != null)
		{
			<div>
				<p>@Model.Order.Order.Header.TaxCode1</p>
				<p>@Model.Order.Order.Header.TaxAmount1.ToPrice() $</p>
			</div>
			<div>
				<p>@Model.Order.Order.Header.TaxCode2</p>
				<p>@Model.Order.Order.Header.TaxAmount2.ToPrice() $</p>
			</div>
			<div>
				<p>@Localizer["InvoiceTotal"]</p>
				<p>@Model.Order.Amount.Initial.ToPrice() $</p>
			</div>
			<div>
				<p>@Localizer["PreviousPayment"]</p>
				<p>@Model.Order.Amount.Payment.ToPrice() $</p>
			</div>
			<div>
				<p>@Localizer["BalanceToPay"]</p>
				<p class="js-order-total">@Model.Order.Amount.Balance.ToPrice() $</p>
			</div>
		}
	</div>

	@if (Model.Order?.Amount?.Balance > 0)
	{
		<h4>@Localizer["PayOrder"]</h4>
		<hr />
		<form method="post" class="payment-form js-form">
			<div class="form-group">
				<label asp-for="@Model.Card.CardNumber">@Localizer["CardNumber"]</label>
				<input asp-for="@Model.Card.CardNumber" type="tel" autocomplete="cc-number" class="form-control js-required" />
				<span asp-validation-for="@Model.Card.CardNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Card.CardholderName">@Localizer["CardholderName"]</label>
				<input asp-for="@Model.Card.CardholderName" class="form-control js-required" />
				<span asp-validation-for="@Model.Card.CardholderName" class="text-danger"></span>
			</div>
			<div class="payment-form__two-column">
				<div class="form-group">
					<label>@Localizer["CardExpiration"]</label>
					<input asp-for="@Model.Card.ExpiryDate" type="text" data-name="expiry-date" class="form-control"
					       maxlength='5' placeholder="MM/YY">
					<input asp-for="@Model.Card.ExpiryMonth" type="hidden" data-name="expiry-month" class="js-required">
					<input asp-for="@Model.Card.ExpiryYear" type="hidden" data-name="expiry-year" class="js-required">
					<span asp-validation-for="@Model.Card.ExpiryMonth" class="text-danger"></span>
					<span asp-validation-for="@Model.Card.ExpiryYear" class="text-danger"></span>
					<span asp-validation-for="@Model.Card.ExpiryDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="@Model.Card.SecurityCode">@Localizer["SecurityCode"]</label>
					<span class="cvn-info">
						?
						<span class="cvn-tooltip">@Localizer["TooltipText"]</span>
						<span class="arrow"></span>
					</span>
					<input asp-for="@Model.Card.SecurityCode" class="form-control js-required"/>
					<span asp-validation-for="@Model.Card.SecurityCode" class="text-danger"></span>
				</div>
			</div>
			<input type="hidden" asp-for="@Model.EPaymentId" />
			<div class="form-group">
				<button type="submit" class="btn js-submit-button" disabled>@Localizer["PayNow"]</button>
			</div>
		</form>
	}
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('.js-menu-total').text('Total : ' + $('.js-order-total').text());
		});
	</script>
}