@page
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@{
	ViewData["Title"] = Localizer["PageTitle"];
}

<div>
	<h1 class="text-danger">@Localizer["Oups"]</h1>
	<h2 class="text-danger">@Localizer["CannotFindOrder"]</h2>

	<p>
		@Localizer["EnterValidOrderNumber"]<a asp-page="/Index">@Localizer["Here"]</a>
	</p>
</div>