// media queries

@mixin breakpoint($point) {

	@if $point == xl-down {
		@media only screen and (max-width: 1200px) {
			@content;
		}
	}
	@else if $point == lg-down {
		@media only screen and (max-width: 993px) {
			@content;
		}
	}
	@else if $point == md-down {
		@media only screen and (max-width: 768px) {
			@content;
		}
	}
	@else if $point == sm-down {
		@media only screen and (max-width: 576px) {
			@content;
		}
	}
	@else if $point == xs-down {
		@media only screen and (max-width: 476px) {
			@content;
		}
	}
	@else if $point == xxs-down {
		@media only screen and (max-width: 370px) {
			@content;
		}
	}
}


// Set media-queries order
// because of mqpacker in gulpfile.js --> @see https://www.npmjs.com/package/css-mqpacker#the-first-win-algorithm

@include breakpoint(xl-down) { /* max-width: 1200px */ }
@include breakpoint(lg-down) { /* max-width: 993px */ }
@include breakpoint(md-down) { /* max-width: 768px */ }
@include breakpoint(sm-down) { /* max-width: 576px */ }
@include breakpoint(xs-down) { /* max-width: 476px */ }
@include breakpoint(xxs-down) { /* max-width: 370px */ }
