﻿@using PatrickMorin.Application.Mailing.Templates

@model PaymentReceivedEmail

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Patrick Morin</title>


	<style type="text/css">
		@@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

		/* reset */
		#outlook a {
			padding: 0;
		}
		/* Force Outlook to provide a "view in browser" menu link. */
		.ExternalClass {
			width: 100%;
		}
		/* Force Hotmail to display emails at full width */
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
			line-height: 100%;
		}
		/* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/*/
		p {
			margin: 0;
			padding: 0;
			font-size: 0px;
			line-height: 0px;
		}
		/* squash Exact Target injected paragraphs */
		table td {
			border-collapse: collapse;
		}
		/* Outlook 07, 10 padding issue fix */
		table {
			border-collapse: collapse;
			mso-table-lspace: 0pt;
			mso-table-rspace: 0pt;
		}
		/* remove spacing around Outlook 07, 10 tables */
		ul {
			list-style: none;
		}

		li {
			color: #989898;
			margin-bottom: 0.75rem;
		}

		/* mobile styles */
		@@media screen and (max-width:600px) {
			.mobile-100p {
				width: 100% !important;
			}

			.container-cell--90p {
				width: 100% !important;
				padding-left: 5% !important;
				padding-right: 5% !important;
			}
		}
	</style>
</head>
<body style="width:100%; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">

	<!-- body wrapper -->
	<table cellpadding="0" cellspacing="0" border="0" class="fallback-text" style="margin:0; padding:0; width:100%; line-height: 100% !important; font-family: Arial, Helvetica, sans-serif;">
		<tr>
			<td valign="top">
				<!-- edge wrapper -->
				<table class="mobile-100p" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="background-color: #edf2f4;">
					<tr>
						<td class="mobile-100p" valign="top" width="600">
							<!-- ///////////////////////////////////////////////////// -->
							<!-- header -->
							<table class="container-cell--90p" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="background-color: #004b97; border-radius: 5px 5px 0 0;">
								<tr>
									<td class="container-cell--90p" valign="top" style="padding-left: 60px;padding-right: 60px;padding-top: 60px;background-color: #edf2f4;">
										<table height="75" width="100%" style="background-color: #004b97;border-radius: 5px 5px 0 0;">
											<tr>
												<td class="container-cell--90p" style="padding-left: 40px;padding-right: 40px;">
													<span style="font-weight: 600; font-size: 24px; color: white;">
														Patrick Morin
													</span>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<!-- /header -->
							<!-- publications -->
							<table class="mobile-100p" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="background-color:#edf2f4;">
								<tr>
									<td class="container-cell--90p" valign="top" style="padding-bottom:60px; padding-left:60px; padding-right:60px; background-color: #edf2f4;">

										<!-- publication__item -->
										<table class="mobile-100p" cellpadding="0" cellspacing="0" border="0" align="center" width="480" style="background-color: #ffffff; border-radius: 0 0 5px 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;">
											<tr>
												<td class="container-cell--90p fallback-text" width="480" style="padding: 40px 40px 20px 40px; font-family: Arial, Helvetica, sans-serif;">
													<p style="color: #989898; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: normal;">
														@Model.Body
													</p>
												</td>
											</tr>

											<tr>
												<td class="container-cell--90p fallback-text" width="480" style="padding-bottom:40px; padding-left:40px; padding-right:40px; font-family: Arial, Helvetica, sans-serif;">
													<span style="color: #989898; font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal;">
														@Model.Greetings
													</span>
												</td>
											</tr>
										</table>
										<!-- /publication__item -->
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!-- /edge wrapper -->
			</td>
		</tr>
	</table>
	<!-- /page wrapper -->
</body>
</html>