﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PatrickMorin</title>
	<link rel="stylesheet" href="~/css/site.css" />

	<environment exclude="Production">
		<meta name="robots" content="noindex">
	</environment>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<a asp-page="/Index" class="navbar-brand">
			<img src="~/images/logo.png" alt="Logo Patrick Morin" class="nav-bar__logo" />
		</a>
		<div class="collapse navbar-collapse nav-bar__main" id="navbar-main">
			<h4 class="nav-bar__total js-menu-total"></h4>
		</div>
	</nav>

	<div class="container body-content">
		@RenderBody()
		<footer>
			<hr />
			<p>&copy; 2021 - Patrick Morin</p>
		</footer>
	</div>

	<environment include="Development">
		<script src="~/js/jquery.slim.js"></script>
		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/fontawesome-all.js"></script>
	</environment>

	<environment exclude="Development">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
		        asp-fallback-src="~/js/jquery.slim.min.js"
		        asp-fallback-test="window.jQuery"
		        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
		        crossorigin="anonymous">
		</script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
				asp-fallback-src="~/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
				crossorigin="anonymous">
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
		        integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ=="
		        crossorigin="anonymous"
		        referrerpolicy="no-referrer">
		</script>
	</environment>

	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
