@page
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@{
	ViewData["Title"] = Localizer["PageTitle"];
}

<div>
	<h1 class="text-danger">@Localizer["Oups"]</h1>
	<h2 class="text-danger">@Localizer["TechnicalErrorOccured"]</h2>

	<p>@Localizer["TeamHasBeenNotified"]</p>
	<p>@Localizer["GoToHomePage"]<a asp-page="/Index">@Localizer["ClickHere"]</a></p>
</div>
