@page
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization

@model Web.Pages.IndexModel
@{
	ViewData["Title"] = Localizer["PageTitle"];
}

<div class="home-page">
	<form method="post" class="js-form">
		<h4>@Localizer["EnterOrderNumber"]</h4>
		<hr />
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="@Model.OrderNo">@Localizer["OrderNumber"]</label>
			<input asp-for="@Model.OrderNo" class="form-control js-required" />
			<span asp-validation-for="@Model.OrderNo" class="text-danger"></span>
		</div>
		<div class="form-group">
			<button type="submit" class="btn js-submit-button" disabled>@Localizer["GoToOrder"]</button>
		</div>
	</form>
</div>
